.poolTitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(64deg);
  background-color: #ffe000;
  width: 40px;
  height: 40px;
  z-index: -1;
  border-radius: 8px;
}

.progressFire {
  transform: translate(-55%, -37%);
  width: 50px;
}

